/* tipografia */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Playfair+Display:wght@600;700&display=swap');


:root{
    --blanco-suave: #f6f6f6;
    --verde-esmeralda: #2e8b57;
    --amarillo-mostaza: #ffd700;
    --marron-claro: #8B4513;
    --gris-oscuro: #333333;
    --gris-medio: #666666;

}
.logo-header{
    height: 70px;
    width: auto;
    object-fit: contain;
    
}

body{
    background-color: var(--blanco-suave);
    color : var(--gris-oscuro);
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4{
    font-family: 'Playfair Display', serif;
    color: var(--marron-claro)
}




.btn-primary{
    background-color: var(--verde-esmeralda) !important;
    border-color: var(--verde-esmeralda) !important;
    color: white !important;
}
.btn-primary:hover{
    background-color: #246b43 !important; /*mas oscurito pa q se note la interaccion */
    border-color: #246b43 !important;
}
.btn-warning{
    background-color: var(--amarillo-mostaza) !important;
    border-color: var(--amarillo-mostaza) !important;
    color: var(--gris-oscuro) !important;
}

.pasos-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.pasos-container::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 5%;
    right: 5%;
    height: 2px;
    background-color: #dee2e6;
    z-index: 0;
}

.paso-seguimiento {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25%;
}

.circulo-paso {
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: 2px solid #dee2e6;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #6c757d;
    margin-bottom: 8px;
}

.paso-seguimiento.completado .circulo-paso {
    background-color: #198754; 
    border-color: #198754;
    color: white;
}

.paso-seguimiento.completado p {
    color: #198754;
    font-weight: 600;
}

.grid-productos .card-img-top {
    height: 130px;
    object-fit: cover;
}
